<header class="header">
  <div class="container header-box">
    <a class="link logo" href="./index.html"
      >english<span class="span">excellence</span>.</a
    >

    <ul class="list header-nav">
      <li class="item">
        <a class="link nav-link state-active" href="./">About us</a>
      </li>

      <li class="item">
        <a class="link nav-link" href="./">Our lessons</a>
      </li>

      <li class="item">
        <a class="link nav-link" href="./">Teachers</a>
      </li>

      <li class="item">
        <a class="link nav-link" href="./">Reviews</a>
      </li>

      <li class="item">
        <a class="link nav-link" href="./">Contact us</a>
      </li>
    </ul>

    <div class="header-networks">
      <ul class="list header-networks-list">
        <li class="item">
          <a class="link networks-link" href="./">
            <svg width="32" height="22">
              <use href="./img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="item">
          <a class="link networks-link" href="./">
            <svg width="32" height="22">
              <use href="./img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="item">
          <a class="link networks-link" href="./">
            <svg width="32" height="22">
              <use href="./img/icons/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button class="mobile-menu-button" data-menu-open>
      <svg width="32" height="32">
        <use href="./img/icons/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>

<!-- contact mobile modal window-->
<!-- <div class="mobile-menu-box" data-menu>
  <button type="button" class="close-modal" data-menu-close>
    <svg class="close-svg" width="8" height="8">
      <use href="./images/icons.svg#cross"></use>
    </svg>
  </button>
</div> -->
