<header class="header">
  <div class="container header-box">
    <a class="link logo" href="./index.html"
      >english<span class="span">excellence</span>.</a
    >

    <ul class="list header-nav">
      <li class="item">
        <a class="link nav-link" href="#about-us">About us</a>
      </li>

      <li class="item">
        <a class="link nav-link" href="#our-lessons">Our lessons</a>
      </li>

      <li class="item">
        <a class="link nav-link" href="#teachers">Teachers</a>
      </li>

      <li class="item">
        <a class="link nav-link" href="#reviews">Reviews</a>
      </li>

      <li class="item">
        <a class="link nav-link" href="#application">Contact us</a>
      </li>
    </ul>

    <div class="header-networks">
      <ul class="list header-networks-list">
        <li class="item">
          <a
            class="link networks-link"
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.facebook.com/goITclub/"
            aria-label="Facebook GoIT page link"
          >
            <svg width="32" height="22">
              <use href="./img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="item">
          <a
            class="link networks-link"
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.instagram.com/goitclub/"
            aria-label="Instagram GoIT page link"
          >
            <svg width="32" height="22">
              <use href="./img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="item">
          <a
            class="link networks-link"
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.youtube.com/c/GoIT"
            aria-label="Youtube GoIT chanel link"
          >
            <svg width="32" height="22">
              <use href="./img/icons/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button
      class="mobile-menu-button"
      data-menu-open
      aria-label="Mobile menu button"
    >
      <svg width="32" height="32">
        <use href="./img/icons/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
