<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="hero-title-accent">English</span> with us!
      </h1>
      <a class="button button-primary hero-btn-primary" href="#application"
        >Leave an application</a
      >
      <a class="hero-btn" href="#footer">
        <svg class="hero-btn-icon">
          <use href="./img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
