<section class="offer-section">
    <h2 class="offer-title">Master the Language with Our English Package!</h2>
    <div class="offer-wrapper">
        <div>
            <h3 class="offer-subtitle">Power of English</h3>
            <ul class="offer-list">
                <li class="offer-list-item">
                    <div class="offer-container-icon">
                        <svg class="offer-icon" width="28" height="28">
                            <use href="../img/icons/icons.svg#icon-icon-offer"></use>
                        </svg>
                    </div>
                    <p class="offer-text">
                        Dive into captivating lessons designed to stimulate your curiosity.
                    </p>
                </li>
                <li class="offer-list-item">
                    <div class="offer-container-icon">
                        <svg class="offer-icon" width="28" height="28">
                            <use href="../img/icons/icons.svg#icon-icon-offer"></use>
                        </svg>
                    </div>
                    <p class="offer-text">
                        Learn in a nurturing setting where every student's progress matters.
                    </p>
                </li>
                <li class="offer-list-item">
                    <div class="offer-container-icon">
                        <svg class="offer-icon" width="28" height="28">
                            <use href="../img/icons/icons.svg#icon-icon-offer"></use>
                        </svg>
                    </div>
                    <p class="offer-text">
                        Experience the satisfaction of real progress as your language skills and
                        confidence grow with every session.
                    </p>
                </li>
            </ul>
            <a href="">Leave an application</a>
        </div>
        <div class="">
            <img class="" src="../img/offer/books.png" alt="books">
        </div>

    </div>
</section>