<section class="offer">
  <div class="container">
    <div class="offer-section">
      <h2 class="offer-title">
        Master the <span class="offer-subtitle-accent">Language</span> with Our
        English Package!
      </h2>
      <div class="offer-wrapper">
        <div class="offer-container-wrapper">
          <h3 class="offer-subtitle">Power of English</h3>
          <ul class="offer-list">
            <li class="offer-list-item">
              <div class="offer-container-icon">
                <svg class="offer-icon" width="28" height="28">
                  <use href="./img/icons/icons.svg#icon-checkmark"></use>
                </svg>
              </div>
              <p class="offer-text">
                Dive into captivating lessons designed to stimulate your
                curiosity.
              </p>
            </li>
            <li class="offer-list-item">
              <div class="offer-container-icon">
                <svg class="offer-icon" width="28" height="28">
                  <use href="./img/icons/icons.svg#icon-checkmark"></use>
                </svg>
              </div>
              <p class="offer-text">
                Learn in a nurturing setting where every student's progress
                matters.
              </p>
            </li>
            <li class="offer-list-item">
              <div class="offer-container-icon">
                <svg class="offer-icon" width="28" height="28">
                  <use href="./img/icons/icons.svg#icon-checkmark"></use>
                </svg>
              </div>
              <p class="offer-text">
                Experience the satisfaction of real progress as your language
                skills and confidence grow with every session.
              </p>
            </li>
          </ul>

          <img
            class="offer-img"
            srcset="./img/offer/books.webp 1x, ./img/offer/books@2x.webp 2x"
            src="./img/offer/books.webp"
            width="214"
            height="263"
            alt="books"
            loading="lazy"
          />

          <a
            class="button button-primary offer-container-link"
            href="#application"
            >Leave an application</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
