<section class="container prices-section">
  <div>
    <h2 class="section-title">
      Our <span class="section-title-highlighted">lessons</span>
    </h2>
    <p class="section-text">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
  </div>
  <ul class="prices-list">
    <li class="list-item">
      <h3 class="list-item-title">Practice</h3>
      <p class="list-item-price">40$ / month</p>
      <p class="list-item-text">
        This plan offers an opportunity for learners to engage in collaborative
        language exercises and group activities, boosting their conversational
        skills and confidence in using English.
      </p>
      <a href="#application" class="button button-primary">
        Leave an application
      </a>
    </li>
    <li class="list-item">
      <h3 class="list-item-title">Standard</h3>
      <p class="list-item-price">70$ / month</p>
      <p class="list-item-text">
        Our standard package provides a balanced learning approach that covers
        all key areas of English language - reading, writing, listening, and
        speaking. It is a set of basic knowledge and skills.
      </p>
      <a href="#application" class="button button-secondary">
        Leave an application
      </a>
    </li>
    <li class="list-item">
      <h3 class="list-item-title">Individual</h3>
      <p class="list-item-price">99$ / month</p>
      <p class="list-item-text">
        We offer a tailored learning experience with individualized instruction
        that focuses on a learner's specific language goals and challenges,
        offering personal feedback.
      </p>
      <a href="#application" class="button button-primary">
        Leave an application
      </a>
    </li>
  </ul>
</section>
