<section class="reviews container">
  <div>
    <h2 class="section-title" id="reviews">
      What our <span class="section-title-highlighted">students</span> say
    </h2>
    <p class="section-text">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div class="reviews-container">
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <div class="reviews-item-student-wrapper">
            <img
              srcset="./img/teachers/teacher-first@2x.png 2x"
              src="./img/reviewers/reviewer-first.png"
              alt="Anna's photo"
              width="50"
              height="50"
              loading="lazy"
            />
            <div class="reviews-item-student-info">
              <p class="reviews-item-student-name">Anna</p>
              <p class="reviews-item-student-status">Student</p>
            </div>
          </div>
          <p class="reviews-item-student-feedback">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>

        <li class="reviews-list-item">
          <div class="reviews-item-student-wrapper">
            <img
              srcset="./img/teachers/teacher-second@2x.png 2x"
              src="./img/reviewers/reviewer-second.png"
              alt="Mykhailo's photo"
              width="50"
              height="50"
              loading="lazy"
            />
            <div class="reviews-item-student-info">
              <p class="reviews-item-student-name">Mykhailo</p>
              <p class="reviews-item-student-status">Student</p>
            </div>
          </div>
          <p class="reviews-item-student-feedback">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>

        <li class="reviews-list-item">
          <div class="reviews-item-student-wrapper">
            <img
              srcset="./img/teachers/teacher-third@2x.png 2x"
              src="./img/reviewers/reviewer-third.png"
              alt="Victoria's photo"
              width="50"
              height="50"
              loading="lazy"
            />
            <div>
              <p class="reviews-item-student-name">Victoria</p>
              <p class="reviews-item-student-status">Student</p>
            </div>
          </div>
          <p class="reviews-item-student-feedback">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
