<section class="teachers">
  <div class="container">
    <h2 class="section-title additional-styles">Meet our teachers</h2>
    <p class="section-text">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-card">
      <li class="teachers-list">
        <img
          srcset="
            ./img/teachers/teacher-first.png    1x,
            ./img/teachers/teacher-first@2x.png 2x
          "
          src="./img/teachers/teacher-first.png"
          alt="first-teacher"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="subtitle">Maria</h3>
        <p class="small-text-teacher">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers-list">
        <img
          srcset="
            ./img/teachers/teacher-second.png    1x,
            ./img/teachers/teacher-second@2x.png 2x
          "
          src="./img/teachers/teacher-second.png"
          alt="second-teacher"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="subtitle">Artem</h3>
        <p class="small-text-teacher">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-list">
        <img
          srcset="
            ../img/teachers/teacher-third.png 1x,
            ./img/teachers/teacher-third.png  2x
          "
          src="./img/teachers/teacher-third.png"
          alt="third-teacher"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="subtitle">Ilona</h3>
        <p class="small-text-teacher">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers-list">
        <img
          srcset="
            ./img/teachers/teacher-fourth.png 1x,
            ./img/teachers/teacher-fourth.png 2x
          "
          src="./img/teachers/teacher-fourth.png"
          alt="fourth-teacher"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="subtitle">Volodymyr</h3>
        <p class="small-text-teacher">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
