body {
  font-family: 'Manrope', sans-serif;
  color: var(--black);
  background-color: var(--white);
}

.container {
  max-width: 1152px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0;
  }
}

.section-title {
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.64px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
