body {
  font-family: 'Manrope', sans-serif;
  color: var(--black);
  background-color: var(--white);
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
}

/* Hidden elements */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */
.button {
  border-radius: 12px;
  padding: 16px 0;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
}

.button-primary {
  background-color: var(--green);
  border: none;
}

.button-secondary {
  background-color: transparent;
  border: 1px solid #ffffff66;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-title {
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  .button {
    font-size: 18px;
    line-height: 1.56;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
