.offer-section {
    position: relative;
    z-index: -2;
    margin: 0 auto;
    border-radius: 30px;
    background: linear-gradient(85deg, #4DC274 2.25%, #BEE8CC 131.25%);
    min-height: 300px;
    padding: 16px;
    padding-bottom: 40px;
    width: 100%;
    margin-bottom: 150px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        /* padding-bottom: 142px; */
    }

    @media screen and (min-width: 1280px) {
        max-width: 1152px;
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 142px;
    }
}


.offer-title {

    color: #FFF;
    font-family: Manrope;
    font-size: 38px;
    line-height: 1.05;
    /* width: 295px; */
    width: 100%;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        line-height: 1.17;
        font-size: 60px;
        /* width: 640px; */
        /* margin-bottom: 133px; */
    }

    @media screen and (min-width: 1280px) {
        max-width: 1152px;
        padding-left: 64px;
        padding-right: 64px;
        line-height: 1.17;
        font-size: 60px;
        font-weight: 700;
        padding-bottom: 72px;
        /* width: 776px; */
        /* margin-bottom: 133px; */
    }
}

.offer-subtitle-accent {
    color: #BEE8CC;
    /* font-family: Manrope;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.16; */
}

.offer-section .offer-wrapper {
    display: flex;
    align-items: center;
    /* align-items: flex-start; */
    position: relative;
    /* height: 471px; */
    /* padding: 64px; */
    background-color: #FFF;
    border-radius: 30px;
    padding: 40px 20px;


    /* width: 1024px;
    height: 471px;
    flex-shrink: 0; */
    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;

    }

    @media screen and (min-width: 1280px) {
        max-width: 1152px;
        padding-left: 64px;
        padding-right: 64px;

    }
}


.offer-section .offer-wrapper::before,
.offer-section .offer-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-8deg);
    transform-origin: center;


    width: 100%;
    height: 100%;
    background: #D4FDE1;
    border-radius: 30px;

    /* width: 1050px; */
    /* height: 463px; */
    /* flex-shrink: 0; */
    /* @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;

    }

    @media screen and (min-width: 1280px) {
        max-width: 1152px;
        padding-left: 64px;
        padding-right: 64px;

    } */

}


.offer-section .offer-wrapper::after {
    background: rgba(255, 255, 255, 0.50);
    transform: translate(-50%, -50%) rotate(11deg);

    /* width: 1011px;
    height: 402px;
    transform: rotate(11deg);
    flex-shrink: 0; */
}

.offer-container-wrapper {
    position: relative;
}

.offer-subtitle {
    color: #121417;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 40px;
        padding-bottom: 42px;
        padding-left: 0;

    }

    @media screen and (min-width: 1280px) {
        font-size: 40px;
        padding-bottom: 42px;

    }
}

.offer-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-bottom: 39px;

    @media screen and (min-width: 768px) {
        padding-right: 120px;
        padding-left: 0;
    }

    @media screen and (min-width: 1280px) {
        width: 720px;
    }

}

.offer-list-item {
    display: flex;
    color: #121417;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.43;
    letter-spacing: 0.02em;


    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.2;

    }

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;

    }

}

.offer-container-icon {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 320px) {
    .offer-icon {
        width: 20px;
        height: 20px;
    }
}

.offer-text {
    padding-left: 16px;
}

.offer-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -70px;


    @media screen and (max-width: 767.98px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1280px) {
        right: -90px;
        top: 70%;
    }
}


.offer-container-link {
    display: flex;
    width: 100%;
    padding: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #4DC274;

    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.71;

    @media screen and (min-width: 768px) {
        display: inline-flex;
        padding: 16px 64px;
        width: auto;
        font-size: 18px;
        line-height: 1.56;

    }

    @media screen and (min-width: 1280px) {
        display: inline-flex;
        padding: 16px 64px;
        width: auto;

        font-size: 18px;
        line-height: 1.56;
    }
}

/* .offer-link {
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.71;


    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.56;

    }

    @media screen and (min-width: 1280px) {
        font-size: 18px;
        line-height: 1.56;
    }
} */