.section-title {
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.64px;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
}

.teachers {
  text-align: center;
}

.additional-styles {
  margin-bottom: 16px;
}

.section-text {
  color: rgba(18, 20, 23, 0.5);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .section-text {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 64px;
    width: 709px;
  }
}

.teachers-card {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .teachers-card {
    gap: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .teachers-card {
    flex-wrap: nowrap;
  }
}

.teachers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-top: 16px;
  margin-bottom: 8px;
}

.small-text-teacher {
  color: rgba(18, 20, 23, 0.5);
  font-size: 14px;
  line-height: 1.71;
}
@media only screen and (min-width: 768px) {
  .small-text-teacher {
    width: 272px;

    font-size: 16px;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 1280px) {
  .small-text-teacher {
    width: 232px;
  }
}

.section-title-highlighted {
  position: relative;
}

.section-title-highlighted::before {
  content: '';
  position: absolute;

  bottom: -1px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);

  width: calc(100% + 10px);
  height: 20px;
  border-radius: 8px;
  background-color: #bee8cc;
}
