.section-title {
  margin-bottom: 16px;
}

.teachers {
  text-align: center;
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .teachers {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .teachers {
    margin-bottom: 144px;
  }
}

.section-text {
  color: rgba(18, 20, 23, 0.5);
  font-size: 14px;
  line-height: 1.71;
}

@media only screen and (min-width: 1280px) {
  .section-text {
    width: 709px;
  }
}

.teachers-card {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .teachers-card {
    gap: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .teachers-card {
    flex-wrap: nowrap;
  }
}

.teachers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-top: 16px;
  margin-bottom: 8px;
}

.small-text-teacher {
  color: rgba(18, 20, 23, 0.5);
  font-size: 14px;
  line-height: 1.71;
}
@media only screen and (min-width: 768px) {
  .small-text-teacher {
    width: 272px;

    font-size: 16px;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 1280px) {
  .small-text-teacher {
    width: 232px;
  }
}
